{% extends "layout.html" %}
{% block content %}
    <style>
        body{
            overflow-y: hidden;
            box-sizing: border-box;
            
        }
        @media screen and (max-width:768px){
            body{
                overflow-y: visible;
            }
        }
        #form{
            width: 300px;
            margin: 20vh auto 0 auto;
            padding: 10px;
            font-size: 12px;
            text-align: center;
            /* margin-top: 20%; */
            font-weight: bold;
            background-color: whitesmoke;
            color: rgb(121, 146, 125);
            border-radius: 4px;
            font-size: 12px;
        }
        #ric{
            padding: 10px;
            margin-top: 10px;
            width: 100%;
            color: white;
            font-weight: bold;
            background: #0b5836;
            border: none;
            border-radius: 4px;
        }
        #ric:hover{
            background: #05ed88;
            transition: 1s;
        }
        #rich{
            background: green;
            padding: 20px;
            padding-bottom: 10%;
            
        }
        #rich h2{
            font-weight: bold;
        }
        #rach{
            margin-top: 9%;
            color: rgb(5, 89, 5);
            font-weight: bold;
            text-align: center;
        }
        #rach h3{
            font-weight: bold;
        }
        
        .input-control{
            display:flex;
            flex-direction: column;
        }
        .input-control input{
            border: 2px solid #f0f0f0;
            border-radius: 4px;
            display: block;
            font-size: 12px;
            padding: 10px;
            width: 100%;
        }
        .input-control input:focus {
            outline: 0;
        }
        .input-control.success input {
            border-color: #09c372;
        }
        .input-control.error input {
            border-color: #ff3660;
        }
        .input-control.error {
            color: #ff3660;
            font-size: 9px;
            height: 13px;
        }
    </style>
</head>
<body>
    <!-- flashed messages  -->
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }}">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 col-md-6" >
                <div id="rach">
                    <img src="/static/web_images/nasme.jpg" alt="img" width="150px">
                    <br />
                    <br />
                    <h3>NIGERIA ASSOCIATION <br> OF SMALL & MEDIUM ENTERPRISES</h3>
                </div>
            </div>
            <div class="col-sm-6 col-md-6" id="rich">
                <div class="roch">
                    <form method="POST" id="form">
                        <h2>ADMIN LOGIN</h2>
                        {{ form.hidden_tag() }}
                        <br>
                        <div class="input-control">
                            {% if form.email.errors %}
                                {{ form.email(type="email", id="email", placeholder="Email") }}
                                <span class="error"></span>
                                {% for error in form.email.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            {% else %}
                                {{ form.email(type="email", id="email", placeholder="Email") }}
                                <span class="error"></span>
                            {% endif %}
                        </div>
                        <br>
                        <br>
                        <br>
                        <div class="input-control">
                            {% if form.password.errors %}
                              {{ form.password(type="password", id="password", placeholder="Password") }}
                              <span class="error" ></span>
                              {% for error in form.password.errors %}
                                  <span>{{ error }}</span>
                              {% endfor %}
                            {% else %}
                              {{ form.password(type="password", id="password", placeholder="Password") }}
                              <span class="error" ></span>
                            {% endif %}
                        </div>
                        <br>
                        <br>
                        {{ form.submit(type="submit", id="ric") }}
                        <a href="/reset_password" target="_blank">Forgot Password? </a>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <script>
        const form = document.getElementById('form');
        const email = document.getElementById('email');
        const password = document.getElementById('password');

        form.addEventListener('submit', e => {
            // e.preventDefault();
            validateInputs(e);
        });

        const setError = (element, message) => {
            const inputControl = element.parentElement;
            const errorDisplay = inputControl.querySelector('.error');

            errorDisplay.innerText = message;
            inputControl.classList.add('error');
            inputControl.classList.remove('success');

        };
        const setSuccess = element => {
            const inputControl = element.parentElement;
            const errorDisplay = inputControl.querySelector('.error');

            errorDisplay.innerText = '';
            inputControl.classList.add('success');
            inputControl.classList.remove('error');
        };

        const validateInputs = (e) => {
            const emailValue = email.value.trim();
            const passwordValue = password.value.trim();

            if(emailValue === '') {
                setError(email, 'Phone number is required');
                e.preventDefault();
            }else{
                setSuccess(email);
            }

            if(passwordValue === ''){
                setError(password, 'Password is required');
                e.preventDefault();
            }
            else if (passwordValue.length < 8 ) {
                setError(password, 'Password must be at least 8 characters.');
                e.preventDefault();
            }
            else {
                setSuccess(password);
            }
        };

    </script>
{% endblock content %}