{% extends "member_layout.html" %}
{% block content %} 
    <style>
    #form{
             width: 90%;
            margin: 5%;
            padding: 10px;
            font-size: 19px;
            /* text-align: center;  */
            /* margin-top: 20%; */
            margin-left: auto;
            margin-right: auto;
            font-weight: bold;
            background-color: rgb(181, 203, 185); 
            color: rgb(121, 146, 125);
            border-radius: 4px;
            font-size: 12px;
        }
        /* #ric{
            padding: 10px;
            margin-top: 10px;
            width: 100%;
            color: white;
            font-weight: bold;
            background: #0b5836;
            border: none;
            border-radius: 4px;
        }
        #ric:hover{
            background: #05ed88;
            transition: 1s;
        }
        #rich{
            background: green;
            padding: 20px;
            padding-bottom: 10%;
            
        }
        #rich h2{
            font-weight: bold;
        }
        #rach{
            margin-top: 9%;
            color: rgb(5, 89, 5);
            font-weight: bold;
            text-align: center;
        }
        #rach h3{
            font-weight: bold;
        } */
        
        .input-control{
            display:flex;
            flex-direction: column;
        }
        h1{
          text-align: center;
        }
        .input-control input{
            border: 2px solid #f0f0f0;
            border-radius: 4px;
            display: block;
            font-size: 12px;
            padding: 10px;
            width: 100%;
        }
        .input-control textarea{
          border: 2px solid #f0f0f0;
            border-radius: 4px;
            display: block;
            font-size: 12px;
            padding: 10px;
            width: 100%;
        }
        .input-control textarea:focus{
          outline: 0;
        }
        .input-control input:focus {
            outline: 0;
        }
        .input-control.success input {
            border-color: #09c372;
        }
        .input-control.error input {
            border-color: #ff3660;
        }
        .input-control.error {
            color: #ff3660;
            font-size: 9px;
            height: 13px;
        }
        #viold input{
          width: 90%;
        }
  </style>
    <form action="/edit-business-profile" method="POST" id="form" onsubmit="return validationForms" enctype="multipart/form-data">
      <br>
      <div class="container mom">
        <div class="row">
          <div class="col">
            <div>
              <label for="bus-photo" style="text-align: center; font-weight:bold; font-size:large;">Business Photo</label>
              <br/>
              <img id="bus-photo" src="../static/profile_pics/{{ member.business_photo }}" alt="" width="40%">
              <br>
              <p>Update Profile Picture</p>
              <input type="file" name="business-photo" id="" class="btn btn-success">
            </div>
          </div>
          <div class="col">
            <div class="input-control">
              <label for="username" style="text-align: center; font-weight:bold; font-size:large;">Business Name</label>
              <input type="text" value="{{member.business_name}}" id="username" name="business-name" placeholder="Business Name" required> <br>
              <span class="error"></span>
          </div>
          <div class="container mt-5">
        <h5>Select Unit</h5>
        <select name="mymultiselect" class="selectpicker" multiple aria-label="size 3 select example">
          {% for unit in units %}
            {% if unit in member.units.all() %}
              <option value="{{unit.name}}" selected>{{unit.name}}</option>
            {% else %}
              <option value="{{unit.name}}">{{unit.name}}</option>
            {% endif %}
          {% endfor %}
        </select>
      </div>
          <div class="input-control">
            <label for="About Business" style="text-align: center; font-weight:bold; font-size:large;">About Business</label>
            <textarea name="business-about" value="{{member.business_about}}" id="" cols="30" rows="10" placeholder="Write more about your business" required></textarea>
            <span class="error"></span>
        </div>
          </div>
        </div>
        <br>
        <br>
        <div>
          <h1>Product/Service Images</h1>
          <br>
          <!-- <div class="row" id="viold">
            <label for="files">Select display Image(s):</label>
            <input class="btn btn-success" type="file" id="files" name="business-p-images" accept=".jpg, .png, .jpeg" multiple><br><br>
          </div> -->
          <div class="row" id="viold">
            <div class="col-md-4">
              <div>
                <img src="../static/profile_pics/{{member.business_product_image_1}}" alt="" width="40%">
                <br>
                <p>Update Product Picture</p>
                <input type="file" name="image-1" id="" class="btn btn-success">
              </div>
            </div>
            <div class="col-md-4">
              <div>
                <img src="../static/profile_pics/{{member.business_product_image_2}}" alt="" width="40%">
                <br>
                <p>Update Product Picture</p>
                <input type="file" name="image-2" id="" class="btn btn-success">
              </div>
            </div>
            <div class="col-md-4">
              <div>
                <img src="../static/profile_pics/{{member.business_product_image_3}}" alt="" width="40%">
                <br>
                <p>Update Product Picture</p>
                <input type="file" name="image-3" id="" class="btn btn-success">
              </div>
            </div>
          </div>
          <br>
          <br>
          <div class="row" id="viold">
            <div class="col-md-4">
              <div>
                <img src="../static/profile_pics/{{member.business_product_image_4}}" alt="" width="40%">
                <br>
                <p>Update Product Picture</p>
                <input type="file" name="image-4" id="" class="btn btn-success">
              </div>
            </div>
            <div class="col-md-4">
              <div>
                <img src="../static/profile_pics/{{member.business_product_image_5}}" alt="" width="40%">
                <br>
                <p>Update Product Picture</p>
                <input type="file" name="image-5" id="" class="btn btn-success">
              </div>
            </div>
            <div class="col-md-4">
              <div>
                <img src="../static/profile_pics/{{member.business_product_image_6}}" alt="" width="40%">
                <br>
                <p>Update Product Picture</p>
                <input type="file" name="image-6" id="" class="btn btn-success">
              </div>
            </div>
          </div>
        </div>
        <br>
        <!--  -->
        <br>
        <div>
          <h1>Links / Contact Information</h1>
          <br>
          <div class="row">
            <div class="col-md-4">
              <div class="input-control">
                <label for="bus-phone">Business Phone Number</label>
                <input type="tel" id="bus-phone" value="{{member.business_phone}}" name="business-phone" placeholder="Phone Number" required>
                <span class="error"></span>
              </div>
              
        </div>
        <div class="col-md-4">
          <div class="input-control">
            <label for="bus-email">Business Email</label>
            <input type="email" id="bus-email" value="{{member.business_email}}" name="business-email" placeholder="Email" required>
            <span class="error"></span>
          </div>
          
        </div>
        <div class="col-md-4">
          <div class="input-control">
            <label for="website">Website</label>
            <input type="text" id="website" value="{{member.business_website}}" name="business-website" placeholder="website url" required>
            <span class="error"></span>
          </div>
          
        </div>
        <div class="col-md-4">
          <div class="input-control">
            <label for="bus-fac">Facebook Url</label>
            <input type="text" id="bus-fac" name="business-facebook" value="{{member.business_facebook}}" placeholder="https://www.facebook.com/mybusiness/" required>
            <span class="error"></span>
          </div>
          
        </div>
        <div class="col-md-4">
          <div class="input-control">
            <label for="bus-fac">Twitter Url</label>
            <input type="text" value="{{member.business_twitter}}" id="twitter-fac" name="business-twitter" placeholder="https://www.twitter.com/mybusiness/" required>
            <span class="error"></span>
          </div>
          
        </div>
        <div class="col-md-4">
          <div class="input-control">
            <label for="Email">LinkedIn Url</label>
            <input type="text" value="{{member.business_email}}" id="LinkedIn" name="business-linkedin" placeholder="https://linkedin.com/url" required>
            <span class="error"></span>
          </div>
          
        </div>
        <div class="col-md-4">
          <div class="input-control">
            <label for="whatsapp">Whatsapp Number</label>
            <input type="tel" id="whatsapp" value="{{member.business_whatsapp}}" name="business-whatsapp" placeholder="0808080" required>
            <span class="error"></span>
          </div>

    </div>
      </div>
      <br>
      <br>
      <button class="btn btn-success" type="submit">Submit Form</button>
      <br>
      <br>
        
    </form>
{% endblock content %}