<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Business Profile</title>
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
  <!--// bootstrap -->
  <!-- fontawesome -->
  <script src="https://kit.fontawesome.com/f2545b0bd6.js" crossorigin="anonymous"></script>
  <!-- font awesome -->
  <link href='//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
  <!-- font-awesome icons -->
  <link rel="stylesheet" type='text/css' href="{{ url_for('static', filename='css/font.css') }}">
  <link rel="stylesheet" type='text/css' href="{{ url_for('static', filename='css/business.css') }}">
  <!-- //font-awesome icons -->
  <link href="css/restive.css" media="all" rel="stylesheet" type="text/css" />
  <style>
    #glary{
          padding-bottom: 1em;
        }
				#glory{
					padding-bottom: 2em;
				}
        .twen{
          width: 89%;
          padding: 15px;
          margin-left: auto;
          margin-right: auto;
          /* background: rgb(131, 187, 131); */
          
        }
        #alirt{
          width:60%;
          margin-left: auto;
          margin-right: auto;
        }
        .emeet{
          font-weight: bold;
          /* color: white; */
        }
        .anty img{
          max-width:70%;
          max-height: 70vh;
          /* opacity :0.5; */
        }
        .anty img:hover{
          box-shadow: 0 0 2px 1px rgba(5, 187, 35, 0.954);
          transform: scaleX(-1);
          transition: 1s;
          transform: scale(1.5);
          opacity: 1;
        }
        .mommy{
          background: rgb(214, 250, 214);
            padding: 5%;
            border-radius: 7px;
            width: 94%;
            margin-left: auto;
            margin-right: auto;
          }
          .zaddy{
            margin-top: 5%;
            color: rgb(59, 74, 59);
            font-weight: bold;
          }
          .zaddy h1{ 
            text-align: center;
            font-weight: bold;
          }
          /* .zaddy p{
            color: #000;
          } */
          .sonny{
            margin-top: 5%;
            color: rgb(59, 74, 59);
            font-weight: bold;
            /* width: 80%; */
            margin-left: auto;
            margin-right: auto;
          }
          .sonny h2{
            text-align: center;
            font-weight: bold;
          }
          .anty{
            margin-top: 5%;
            cursor: pointer;
          }
          .anty h1{
            font-weight: bold;
            text-align: center;
            padding-bottom: 20px;
            font-weight: bold;
          }
          .uncle{
            font-weight: bold;
          }
          .uncle h1{
            text-align: center;
          }
          .teean p{
            text-align: center;
            font-weight: bold;
          }
  </style>
</head>
<body>
  <div class="ricky ">
    <nav>
        <div class=" container">
          <div class="row">
            <div class="col-md-8 rocky">
              <div class="">
                <span class=""> 
                  <i class="fa fa-phone" aria-hidden="true"></i> 
                  +2348160831342 or +2348032428096
                </span>
                &nbsp;
                <span> <i class="fa fa-envelope-o" aria-hidden="true"></i> 
                  info@nasmeoyo.org
                </span>
               </div>
            </div>
            <div class="col-md-4">
              <div class="bosses">
                <div class=" d-flex justify-content-center">
                  
                  <div class="dropdown uyo fumni" >
                    <li class="btn btn-success dropdown- d-inline-block" type="button" id=" dropdownMenuButton2" data-toggle="" aria-expanded="false"  tabindex="0" data-toggle="tooltip" data-placement="top" title="Search" style="background: #0ece0b ;">
                      <i class="fas fa-search"></i>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                      <form  method="POST" action="{{ url_for('main.search_business_members') }}" class="d-flex" autocomplete="off">
                        <input id="member_autocomplete" name="search_query" class="form-control me-2" type="text" placeholder="Search" aria-label="Search">
                        <button class="btn btn-success" type="submit" style="color: #A8D6B4;"> <i class="fas fa-search"></i></button>
                        </form>
                    </ul>
                  </li>
                  </div> 

                <div class="btn btn-success dropdown ibadan btn-group dropstart" id="ibadan">
                  <li class=" dropdown- d-inline-block" type="button" id=" dropdownMenuButton1"  title="sort by clusters/unit">
                    <i class="fa fa-database" aria-hidden="true"></i>
                  
                  <ul class="dropdown-menu " aria-labelledby="dropdownMenuButton1">
                    {% for unit in dashboard_units %}
                    <li><a href=" {{ url_for('main.business_unit_members', unit_id=unit.id) }}" class="dropdown-item dropstart">{{unit.name}}</a></li>
                    {% endfor %}
                  </ul>
                </li>
                </div> 
                <!-- <div class="fumni" style="">
                  <form  method="POST" action="{{ url_for('main.search_business_members') }}" class="search-box "autocomplete="off">
                    <button type="submit" class="btn-search "><i class="fas fa-search"></i></button>
                    <input type="text" name="search_query" class="input-search" placeholder="Search for members..">
                </form>
                </div> -->

                
                <i class="fa fa-facebook" aria-hidden="true" id="down"></i>
                </div>
              </div>
            </div>
          </div>
                  
                        
        </div>
    </nav>
    
  </div>
    <!-- navbar -->
    <div class="donee">
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light"  id="mufu dropstart">
          <div class="container-fluid"> 
            <a class="navbar-brand" href="#"><img src="../static/images/FAV.jpg" alt="image"  width="100" height="70"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-inline-flex justify-content-end oyo" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0 dropstart">
                  <li class="nav-item ">
                    <a class="nav-link active dropdown-" href="https://nasmeoyo.org/" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="https://nasmeoyo.org">Home</a>
                    <!-- <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="#">Member's Page</a></li>
                      
                    </ul> -->
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="https://nasmeoyo.org/index.php/about-us/">About Us</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="https://nasmeoyo.org/index.php/blog">Unit & Cluster</a>
                  </li>
                  <li class="nav-item ">
                    <a class="nav-link active dropdown-" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="">
                      Membership
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="https://nasmeoyo.org/index.php/membershiptypes">Membership Types</a></li>
                      <li><a class="dropdown-item" href="https://nasmeoyo.org/index.php/membershipbenefits">Membership Benefit</a></li>
                      <li><a class="dropdown-item" href="https://nasmeoyo.org/index.php/membershipregisteration/">NASME COOPERATIVE</a></li>
                      <li><a class="dropdown-item" href="https://nasmeoyo.org/index.php/membershipregisteration/">Membership Registration</a></li>
                    </ul>
                  </li>
                  <li class="nav-item ">
                    <a class="nav-link active dropdown-" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="">
                      Members' Portal
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="/business-members">Current Members List</a></li>
                      <li><a class="dropdown-item" href="/login">Members Login</a></li>
                      <li><a class="dropdown-item" href="https://portal.nasmeoyo.org/admin">Login as Admin</a></li>
                    </ul>
                  </li>
                  
                 
                  <li class="nav-item ">
                    <a class="nav-link active dropdown-" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="">
                      News & update
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="https://nasmeoyo.org/index.php/news-update/">Blog</a></li>
                      <li><a class="dropdown-item" href="https://nasmeoyo.org/index.php/gallery-2">Gallery</a></li>
                      
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="https://nasmeoyo.org/index.php/contact-us">Contact us</a>
                  </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <br>
    <!--  -->
    <div class="twen">
      <br>
      <br>
      <div class="mommy">
        <div class="container">
          <div class="row">
            <div class="col">
              <br>
              <div class="riic">
                <img src="../static/images/man-icon-vector-260nw-1040084344.webp" alt="image" width="40%">
                <br>
                <!-- <input type="file" class="btn btn-success"> -->
              </div>
            </div>
            <div class="col">
              <div class="zaddy">
                <h1 style="color: rgb(54, 98, 53);">Business Name </h1>
                <p>
                  The hero section is the first thing people see when they enter your business website.
                  It is displayed under the menu.
                  The hero section helps the reader understand what you offer, why someone should work with you, and the value you provide with your services.
                  It often contains a call to action button like "get in touch", "explore services" or similar..
  
  
                </p>
              </div>
            </div>
          </div>
          <br>
          <!--  -->
          <div>
            <div class="sonny">
              <h2  style="color: rgb(54, 98, 53);">About The Business </h2>
              <p>
                The hero section is the first thing people see when they enter your business website.
                It is displayed under the menu.
                The hero section helps the reader understand what you offer, why someone should work with you, and the value you provide with your services.
                It often contains a call to action button like "get in touch", "explore services" or similar..
  
  
              </p>
            </div>
          </div>
          <div>
            <div class="anty">
              <h1 style="color: rgb(54, 98, 53);">product of services</h1>
              <div class="">
                <div class="row">
                  <div class="col">
                    <img src="../static/images/g4.jpg" alt="img" width="100%">
                  </div>
                  <div class="col">
                    <img src="../static/images/g4.jpg" alt="img" width="100%">
                  </div>
                  <div class="col">
                    <img src="../static/images/g4.jpg" alt="image" width="100%">
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col">
                    <img src="../static/images/g4.jpg" alt="img" width="100%">
                  </div>
                  <div class="col">
                    <img src="../static/images/g4.jpg" alt="img" width="100%">
                  </div>
                  <div class="col">
                    <img src="../static/images/g4.jpg" alt="image" width="100%">
                  </div>
                </div>
                
              </div>
            </div>
          </div>
          <!--  -->
          <br>
          <div>
            <div class="uncle">
              <h1 style="color: rgb(54, 98, 53);">product of services</h1>
              <br>
                <div class="">
                  <div class="row">
                    <div class="col">
                      <P>Phone number: 09075292229</P>
                    </div>
                    <div class="col">
                      <P><i>email: richard@gmail.com</i></P>
                    </div>
                    <div class="col">
                      <div>
                        <i class="fa fa-facebook-square" aria-hidden="true"></i>
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<br>
    <!-- footer -->
  <div class="foot">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-3">
          <input type="text">
          <br>
          <br>
          <br>
          <div class="socket_1">
            <p>The Nigeria association of small  and medium   enterprises(nasme) was registered in 1996 as a business  membership organisation (BMO), to co-operate and foster the promotion of micro, small and medium enterprises ( MSMEs) in Nigeria NASME is the only leading Nigerian private sector. <a href="#" >read more.</a></p>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <h6>LASTEST POST</h6>
          <br>
          <div class="socket_2">
            <p>WELCOME TO NASME NEWS AND <br> UPDATES</p>
            <h6 style="color: rgb(9, 210, 9); font-weight:bold;">October 15, 2020</h6>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <h6>QUICK LINKS</h6>
          <br>
          <div class="socket_3">
            <ul>
              <li>HOME</li>
              <li>ABOUT US</li>
              <li>UNIT & CLUSTER</li>
              <li>MEMBERSHIP</li>
              <ul>
              <li>MEMBERSHIP TYPES</li>
              <li>MEMBERSHIP BENEFITS</li>
              <li>MEMBERSHIP REGISTRATION</li>
              </ul>
              <li>NASME COPORATIVE</li>
              <li>NEWS & UPDATES</li>
              <ul>
              <li>BLOG</li>
              <li>GALLERY</li>
              </ul>
              <li>CONTACT US</li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <h6>CONTACT INFORMATION</h6>
          <br>
          <div class="socket_5">
            <p>NASME Oyo State ChapterBlock c, Suits 5 & 6, Oyo State Permanent Trade Fair Complex (EXPOYO), Sango – U.I Road, Ibadan, Oyo State, Nigeria. Tel: +2348160831342 or +2348032428096 , info@nasmeoyo.org</p>

            <p>Meeting Day: Last Thursday of Every Month</p>

            <p>Time: 2pm Prompt</p>

            <p>Cooperative Meeting : 1pm (Same Day)</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>