
{% extends "dashboard_layout.html" %}
{% block content %}
<script type="text/javascript">
	$(document).ready(function() {
	  $('#table').basictable();

	  $('#table-breakpoint').basictable({
		breakpoint: 768
	  });

	  $('#table-swap-axis').basictable({
		swapAxis: true
	  });

	  $('#table-force-off').basictable({
		forceResponsive: false
	  });

	  $('#table-no-resize').basictable({
		noResize: true
	  });

	  $('#table-two-axis').basictable();

	  $('#table-max-height').basictable({
		tableWrapper: true
	  });
	});
</script>

<div class="container agile-tables" >
	<br>
	<h3 style="text-align: center; color:rgb(31, 55, 31); font-weight:bold;" class="aka">Dues Pay</h3>
	<div class="w3l-table-info table-responsive" id="feet">	
		<table id="tuble" style="text-align: center;" class="table table-success table-striped table-hover table-bordered " style="width: 85%; font-size: 14px;">
			<thead>
			  <tr>
				<th>Pending Dues</th>
				<th>Paid Dues</th>
				
			  </tr>
			</thead>
			<tbody>
			  <tr>
				<td><button type="button" class="btn btn-outline-danger" data-toggle="tooltip" data-placement="top" title="Click to see Sub Fee">2023 Sub Fee</button></td>
				<td><button type="button" class="btn btn-success" data-toggle="tooltip" data-placement="top" title="click to see more">Success</button></td>
				
			  </tr>
			  <!--  -->
			</tbody>	
		  </table>
		  </div>
</div>
{% endblock content %}