{% extends "dashboard_layout.html" %}
{% block content %}		
			<div class="container">
				
			<div class="glo">
				<div class="row">
					<div class="col-sm-4 col-md-4" id="glooo">
						<div class="glory">
							<div class="row">
								<div class="col-sm-6 col-md-2">
									<div class="gluy">
										<i class="fa fa-user-circle" aria-hidden="true"></i>
									</div>
								</div>
								<div class="col-sm-6 col-md-10">
									<div data-text class="glarr">
										<p>Total Members</p>
										<h4>841</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-4 col-md-4" id="glooo">
						<div class="glory">
							<div class="row">
								<div class="col-sm-6 col-md-2">
									<div class="gluy">
										<i class="fa fa-archive" aria-hidden="true"></i>
									</div>
								</div>
								<div class="col-sm-6 col-md-10">
									<div class="glarr">
										<p>Total Unit</p>
										<h4>841</h4>
									</div>
								</div>
						    </div>
						</div>
					</div>
					<div class="col-sm-4 col-md-4" id="glooo">
						<div class="glory">
							<div class="row">
								<div class="col-sm-6 col-md-2">
									<div class="gluy">
										<i class="fa fa-pie-chart" aria-hidden="true"></i>
									</div>
								</div>
								<div class="col-sm-6 col-md-10">
									<div class="glarr">
										<p>Revenue</p>
                                        <h6>#12453664</h6>
									</div>
								</div>
						    </div>
						</div>
					</div>
				</div>
				<br>
				<br>
				<div class="row">
					<div class="col-sm-4 col-md-4" id="glooo">
						<div class="glory">
							<div class="row">
								<div class="col-sm-6 col-md-2">
									<div class="gluy">
										<i class="fa fa-user-circle" aria-hidden="true"></i>
									</div>
								</div>
								<div class="col-sm-6 col-md-10">
									<div class="glarr">
										<p>Add new member</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-4 col-md-4" id="glooo">
						<div class="glory">
							<div class="row">
								<div class="col-sm-6 col-md-2">
									<div class="gluy">
										<i class="fa fa-archive" aria-hidden="true"></i>
									</div>
								</div>
								<div class="col-sm-6 col-md-10">
									<div class="glarr">
										<p>Add new unit</p>
									</div>
								</div>
						    </div>
						</div>
					</div>
					<div class="col-sm-4 col-md-4" id="glooo">
						<div class="glory">
							<div class="row">
								<div class="col-sm-6 col-md-2">
									<div class="gluy">
										<i class="fa fa-bar-chart" aria-hidden="true" ></i>
									</div>
								</div>
								<div class="col-sm-6 col-md-10">
									<div class="glarr">
										<p>Manage Finance</p>
									</div>
								</div>
						    </div>
						</div>
					</div>
				</div>
				<br>
				<br>
				<div class="row">
					<div class="col-sm-4 col-md-4" id="glooo">
						<div class="glory">
							<div class="row">
								<div class="col-sm-6 col-md-2">
									<div class="gluy">
										<i class="fa fa-bar-chart" aria-hidden="true"></i>
									</div>
								</div>
								<div class="col-sm-6 col-md-10">
									<div class="glarr">
										<p>Today's Sales</p>
										<h6>#0.00</h6>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-4 col-md-4" id="glooo">
						<div class="glory">
							<div class="row">
								<div class="col-sm-6 col-md-2">
									<div class="gluy">
										<i class="fa fa-shopping-cart" aria-hidden="true"></i>
									</div>
								</div>
								<div class="col-sm-6 col-md-10">
									<div class="glarr">
										<p>Total Return</p>
										<h6>10,00</h6>
									</div>
								</div>
						    </div>
						</div>
					</div>
					<div class="col-sm-4 col-md-4" id="glooo">
						<div class="glory">
							<div class="row">
								<div class="col-sm-6 col-md-2">
									<div class="gluy">
										<i class="fa fa-bar-chart" aria-hidden="true" ></i>
									</div>
								</div>
								<div class="col-sm-6 col-md-10">
									<div class="glarr">
										<p>This Month Sales</p>
										<h6>#0.00</h5>
									</div>
								</div>
						    </div>
						</div>
					</div>
				</div>
			</div>	
			</div>
			
{% endblock content %}