<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% if title %}
      <title>ValueMax Membership - {{ title }}</title>
    {% else %}
      <title>ValueMax Membership</title>
    {% endif %}

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    
  </head>
  <body>
    <!--  navigation  -->
    {% if current_user.is_authenticated %}
      {% if current_user.role == "USER" %}
        <a  href="{{ url_for('home') }}">Home</a>
      {% else %}
        <a  href="{{ url_for('admin') }}">Home</a>
      {% endif %}
      <a  href="{{ url_for('account') }}">Account</a>
      <a href="{{ url_for('logout') }}">Logout</a>
    {% else %}
      <a href="{{ url_for('user_login') }}">User Login</a>
      <a style="margin-left:400px;" href="{{ url_for('admin_login') }}">Admin Login</a>
    {% endif %}

    <!-- flashed messages  -->
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <em>{{ message }}</em>
        {% endfor %}
      {% endif %}
    {% endwith %}
    
    <!-- other pages extend here -->
    {% block content %}{% endblock %}
  </body>
</html>