{% extends "dashboard_layout.html" %}
{% block content %}
<script>
	$(function () {
		$('#supported').text('Supported/allowed: ' + !!screenfull.enabled);

		if (!screenfull.enabled) {
			return false;
		}

		$('#toggle').click(function () {
			screenfull.toggle($('#container')[0]);
		});	
	});
</script>
<!-- tables -->
<link rel="stylesheet" type="text/css" href="css/table-style.css" />
<link rel="stylesheet" type="text/css" href="css/basictable.css" />
<script type="text/javascript" src="js/jquery.basictable.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
      $('#table').basictable();

      $('#table-breakpoint').basictable({
        breakpoint: 768
      });

      $('#table-swap-axis').basictable({
        swapAxis: true
      });

      $('#table-force-off').basictable({
        forceResponsive: false
      });

      $('#table-no-resize').basictable({
        noResize: true
      });

      $('#table-two-axis').basictable();

      $('#table-max-height').basictable({
        tableWrapper: true
      });
    });
</script>
<!-- //tables -->
				<div class="container agile-tables">
					
						{% if unit %}
								<h3 style="text-align: center; color:rgb(31, 55, 31); font-weight:bold;" class="text-center">{{ unit.name }} Unit Member List</h3>
						{% else %}
								<h3 style="text-align: center; color:rgb(31, 55, 31); font-weight:bold;" class="text-center">Members List</h3>
						{% endif %}
								
					<div class="w3l-table-info table-responsive">
					  
					    <table id="tuble" class="table table-success table-striped table-hover ">
						<thead>
						  <tr>
							<th>Name</th>
							<th>Phone</th>
							<th>Email</th>
							<th>Units</th>
							<th>Profile Details</th>
						  </tr>
						</thead>
						<tbody>
							{% for member in members %}
						  <tr>
							<td>{{member.username}}</td>
							<td>{{ member.phone }}</td>
							<td>{{ member.email }}</td>
							<td>
							{% for unit in member.units.all() %}
								<span>{{ unit.name }}</span>
							{% endfor %}
							</td>
							<td><a role="button" class="btn btn-primary" href="{{ url_for('edit_member', member_id=member.id) }}"><i class="fa fa-pencil" aria-hidden="true"></i></a>

								<a href="{{ url_for('view_member', member_id=member.id) }}" type="button" class="btn btn-warning"><i class="fa fa-eye" aria-hidden="true"></i></a>

								<a type="button" class="btn btn-danger" style="background: red;" data-toggle="modal" data-target="#verifydeletemodal"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
							</td>
						  </tr>
						  {% endfor %}
						</tbody>
					  </table>
					</div>
				  </div>
		
{% endblock content %}