{% extends "layout.html" %}
{% block content %}
  <h3>Welcome {{ current_user.name }}  <a href='/admin/register-admin'>Click here</a> to register a new admin </h3>

  <h1><u>Admin List</u></h1>

  <table style="margin-left: 10%;" >
    {% for admin in admins.items %}
      <tr>
        <td>
            <img src= /static/profile_pics/{{ admin.image_file }} alt="" width="50" />
        </td>
        <td>{{ admin.username }}</td>
        <td>{{ admin.email }}</td>
        <td>{{ admin.current_role }}</td>
        <td><a href="/admin/manage/{{ admin.id }}">View Full Details</a></td>
      </tr>
    {% endfor %}
  </table>
  {% for page_num in admins.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
    {% if page_num %}
      {% if admins.page == page_num %}
        <a class="" style="font-size:20px" href="{{ url_for('admins.manage_admins', page=page_num) }}">{{ page_num }}</a>
      {% else %}
        <a class="" href="{{ url_for('admins.manage_admins', page=page_num) }}">{{ page_num }}</a>
      {% endif %}
    {% else %}
      ...
    {% endif %}
  {% endfor %}

{% endblock content %}