{% extends "dashboard_layout.html" %}
{% block content %}
<script>
	$(function () {
		$('#supported').text('Supported/allowed: ' + !!screenfull.enabled);

		if (!screenfull.enabled) {
			return false;
		}

		$('#toggle').click(function () {
			screenfull.toggle($('#container')[0]);
		});	
	});
</script>
<!-- tables -->
<link rel="stylesheet" type="text/css" href="css/table-style.css" />
<link rel="stylesheet" type="text/css" href="css/basictable.css" />
<script type="text/javascript" src="js/jquery.basictable.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
      $('#table').basictable();

      $('#table-breakpoint').basictable({
        breakpoint: 768
      });

      $('#table-swap-axis').basictable({
        swapAxis: true
      });

      $('#table-force-off').basictable({
        forceResponsive: false
      });

      $('#table-no-resize').basictable({
        noResize: true
      });

      $('#table-two-axis').basictable();

      $('#table-max-height').basictable({
        tableWrapper: true
      });
    });
</script>
<!-- //tables -->
				<div class="container agile-tables">
					<h3 style="text-align: center; color:rgb(31, 55, 31); font-weight:bold;" class="text-center"> Members List</h3>
					<div class="w3l-table-info table-responsive">
					  
					    <table id="tuble" class="table table-success table-striped table-hover ">
						<thead>
						  <tr>
							<th>Name</th>
							<th>Phone</th>
							<th>Email</th>
							<th>Units</th>
							<th>Profile Details</th>
						  </tr>
						</thead>
						<tbody>
							{% for member in members.items %}
						  <tr>
							<td>{{member.username}}</td>
							<td>{{ member.phone }}</td>
							<td>{{ member.email }}</td>
							<td>
							{% for unit in member.units.all() %}
								<span>{{ unit.name }}</span>
							{% endfor %}
							</td>
							<td><a role="button" class="btn btn-primary" href="{{ url_for('edit_member', member_id=member.id) }}"><i class="fa fa-pencil" aria-hidden="true"></i></a>

								<a href="{{ url_for('view_member', member_id=member.id) }}" type="button" class="btn btn-warning"><i class="fa fa-eye" aria-hidden="true"></i></a>

								<a type="button" class="btn btn-danger" style="background: red;" data-toggle="modal" id="{{member.id}}" dataName="{{member.username}}" data-target="#deletemodal"  onclick="deleteFunction(this)"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
							</td>
						  </tr>
						  {% endfor %}
					  </table>

					  <script>
						    function deleteFunction(obj){
						        let valuefromID = obj.id;
						        let name = obj.getAttribute("dataName");

						        $('#hiddenid').val(valuefromID);
						        $('#exampleModalLabel').text('Delete ' + name);
						        $("#deletemodal").modal("show");
						    }
						</script>

						<!-- Modal -->
						<div class="modal fade" id="deletemodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
						  <div class="modal-dialog" role="document">
						    <div class="modal-content">
						      <div class="modal-header">
						        <h5 class="modal-title" id="exampleModalLabel">Delete ?</h5>
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						          <span aria-hidden="true">&times;</span>
						        </button>
						      </div>
						      <div class="modal-body">
						      		Are you sure you want to delete this user?						      </div>
						      <div class="modal-footer">
						        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						        <form method="POST" action="{{ url_for('delete_user') }}">
						        	<input type="hidden" name="user_id" id="hiddenid">
						        <button type="submit" class="btn btn-primary" href="#">Yes, Delete</button>
						        </form>
						      </div>
						    </div>
						  </div>
						</div>

					  <!-- pagination -->
					  {% for page_num in members.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
					    {% if page_num %}
					      {% if members.page == page_num %}
					        <a class="btn btn-success mb-5"  href="{{ url_for('manage_members', page=page_num) }}">{{ page_num }}</a>
					      {% else %}
					        <a class="btn btn-success mb-5" href="{{ url_for('manage_members', page=page_num) }}">{{ page_num }}</a>
					      {% endif %}
					    {% else %}
					      ...
					    {% endif %}
					  {% endfor %}
					</div>
				  </div>
		
{% endblock content %}