
        {% extends 'member_base.html' %}

        {% block content_body %}

        <div class="" id="accordionExample">
          
          {% for message in messages %}
          <div class="accordion mx-lg-5 bg-white rounded-5 py-4 shadow-lg m-3" style="display: flex;">
            <div class="accordion-item ms-lg-5 border-0 outline-0 w-100">
                <h2 class="accordion-header">
                    <p class="accordion-button collapsed fs-4 bg-transparent mb-0" data-bs-toggle="collapse"
                        data-bs-target="#collapse{{loop.index}}" style="font-variant: small-caps;">
                       {{message.title}} 
                    </p>
                </h2>
                <div id="collapse{{loop.index}}" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <section class="container text-dark">
                            <p> {{message.body}} </p>
                        </section>
                    </div>
                </div>
            </div>
            <button type="button" class="me-lg-5 me-2 btn-close fs-2 h-50" style="margin-top: 1.35rem;"
                title="close" onclick="this.parentElement.style.display='none'">
            </button>
        </div>

        {%else%}

        <p class="fw-semibold fs-3 text-center mt-5">You don't have any messages </p>

          {% endfor %}
            
        </div>

        {% endblock content_body %}
