{% extends "dashboard_layout.html" %}
{% block content %}
<section class="wrapper scrollable">
	<nav class="user-menu">
		<a href="javascript:;" class="main-menu-access">
		<i class="icon-proton-logo"></i>
		<i class="icon-reorder"></i>
		</a>
	</nav>
	<!--  -->
	<br>
	<br>
	<div class="bedd">
		<div >
			<img src="/static/profile_pics/{{ member.business_photo }}" alt="image" width="100px">
		</div>
		<br>
		<br>
		<div>
			<h5>Full Name: {{ member.username }}</h5>
		</div>
		<br>
		<div>
			<p>Member Id: #{{ member.id }}</p>
		</div>
		<div>
			<p>Email: {{ member.email }}</p>
		</div>
		<div>
			<p>Phone: {{ member.phone }}</p>
		</div>
		<div>
			<p>Password: {{ member.password }}</p>
		</div>
		<div>
			<p>Units: 
			{% for unit in member.units.all() %}
				<span>{{ unit.name }}</span>
			{% endfor %}
			</p>
		</div>
		<div>
			<p>Joined: {{ member.date_registered }}</p>
		</div>
		<div>
			<p>Current Role: {{ member.occupation }}</p>
		</div>
		<div>
			<p>Home Address: {{ member.home_address }}</p>
		</div>
		<div>
			<p>Work Address: {{ member.work_address }}</p>
		</div>
		<div>
			<p><a href="{{ url_for('admins.edit_member', member_id=member.id) }}">Edit Member Details</a></p>
		</div>
	</div>	

</button> &nbsp;&nbsp; <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#verifydeletemodal"><i class="fa fa-trash-o" aria-hidden="true"></i>Delete User</button></td>

	<!-- Modal -->
						<div class="modal fade" id="verifydeletemodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
						  <div class="modal-dialog" role="document">
						    <div class="modal-content">
						      <div class="modal-header">
						        <h5 class="modal-title" id="exampleModalLabel">Delete {{member.name}} unit?</h5>
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						          <span aria-hidden="true">&times;</span>
						        </button>
						      </div>
						      <div class="modal-body">
						        Are you sure you want to delete this user?
						      </div>
						      <div class="modal-footer">
						        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						        <form method="POST" action="{{ url_for('admins.delete_user', user_id=member.id) }}">
						        <button type="submit" class="btn btn-primary" href="#">Yes, Delete</button>
						        </form>
						      </div>
						    </div>
						  </div>
						</div>

			</div>
			 
</section>
{% endblock content %}