<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <!-- <link rel="stylesheet" href="../static/css/header.css"> -->

    <style>
        .navbar input::placeholder {
            font-variant: small-caps;
        }

        .navbar-brand {
            width: 50px;
        }

        .navbar-brand img {
            width: 100%
        }

        input,
        button,
        .navbar-toggler {
            border: none;
            outline: none;
            box-shadow: none;
        }

        .header .search-icon {
            background: white;
        }

        .dropdown-menu .dropdown-item:focus {
            background: #228c2e;
        }

        @media screen and (max-width:800px) {
            .header input {
                display: none;
            }

            .header .search-icon {
                background: transparent;
                color: white;
            }
        }

        @media screen and (max-width:991px) {
            .dropdown {
                width: 100%;
            }

            .nav-item .dropdown-menu {
                box-shadow: none !important;
                background: #228c2e;
                text-align: center;
            }

            .dropdown-menu .dropdown-item {
                color: #fff;
            }
        }
    </style>
</head>

<body style="background: silver;">
    <nav class="navbar" style="flex-wrap: nowrap; background-color: #228c2e; ">
        <div class="container-fluid d-flex px-md-5 px-3">
            <div class="d-none d-md-block d-lg-flex">
                <div>
                    <i class="bi bi-telephone-fill text-light"></i>
                    <span class="text-light px-3">+2348160831342 or +2348032428096</span>
                </div>
                <div>
                    <i class="bi bi-envelope-fill text-light"></i>
                    <span class="text-light px-3">info@nasmeoyo.org</span>
                </div>
            </div>


            <div class="d-flex header">
                <form class="d-flex rounded mx-lg-2 mx-1">
                    <input class="form-control rounded-0 rounded-start border-0 w-100" style="box-shadow: none;"
                        type="search" placeholder="Search" aria-label="Search">
                    <button class="rounded-0 rounded-end btn border-0 search-icon" type="submit">
                        <i class="bi bi-search"></i>
                    </button>
                </form>

                <button class="btn ms-md-3 mx-0" type="submit" title="Sort by Clusters/Units">
                    <i class="bi bi-collection-fill text-light"></i>
                </button>
                <button class="btn ms-md-3 mx-0" type="submit" title="Admin Profile">
                    <i class="bi bi-person-workspace text-light"></i>
                </button>
                <button class="btn ms-md-3 mx-0" type="submit" title="Toggler">
                    <i class="bi bi-facebook text-light"></i>
                </button>
            </div>
        </div>
    </nav>

    <nav class="navbar sticky-top navbar-expand-lg bg-white px-md-5 shadow">
        <div class="container-fluid">
            <a class="navbar-brand p-0" id="navBrand" href="#">
                <img class="" src="../static/web_images/nasme-removebg-preview.png" alt="">
            </a>

            <span class="navbar-toggler navbar-toggler-icon" data-bs-toggle="collapse"
                data-bs-target="#navbarTogglerDemo02"></span>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex w-100 justify-content-center align-items-center">
                    <li class="nav-item">
                        <a class="nav-link text-center active" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-center" href="#">Data</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-center" href="#">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-center" href="#">Unit & Cluster</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-center" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Membership
                        </a>
                        <ul class="dropdown-menu border-0 shadow mt-1">
                            <li><a class="dropdown-item" href="#">Membership Types</a></li>
                            <li><a class="dropdown-item" href="#">Membership Benefit</a></li>
                            <li><a class="dropdown-item" href="#">Membership Registration</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">NASME Co-operative</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link text-center dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Membership Portal
                        </a>
                        <ul class="dropdown-menu border-0 shadow mt-1">
                            <li><a class="dropdown-item" href="#">Current Member's List</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Member's Login</a></li>
                            <li><a class="dropdown-item" href="#">Admin Login</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link text-center dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            News & Update
                        </a>
                        <ul class="dropdown-menu border-0 shadow mt-1">
                            <li><a class="dropdown-item" href="#">Blog</a></li>
                            <li><a class="dropdown-item" href="#">Gallery</a></li>

                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-center" href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>



    <footer class="p-lg-5 px-0" style="background: rgb(56,56,56); color: silver;">
        <div class="container px-5">
            <div class="row">
                <div class="col-md-4 my-3">
                    <h6 class="mb-4">
                        <input type="text">
                    </h6>
                    <p style="font-size: .8rem;">The Nigeria association of small and medium enterprises(nasme) was
                        registered in 1996 as a
                        business membership
                        organisation (BMO), to co-operate and foster the promotion of micro, small and medium
                        enterprises ( MSMEs) in Nigeria
                        NASME is the only leading Nigerian private sector.</p>
                </div>
                <div class="col-md-4 my-3">
                    <h6 class="text-white mb-4">LASTEST POST</h6>
                    <p style="font-size: .8rem;">WELCOME TO NASME NEWS AND UPDATES</p>
                    <h6 style="font-size: .8rem;">October 15, 2020</h6>
                </div>
                <div class="col-md-4 my-3">
                    <h6 class="text-white mb-4">CONTACT INFORMATION</h6>
                    <p style="font-size: .8rem;">NASME Oyo State ChapterBlock c, Suits 5 & 6, Oyo State Permanent Trade
                        Fair Complex (EXPOYO),
                        Sango – U.I Road, Ibadan,
                        Oyo State, Nigeria. Tel: +2348160831342 or +2348032428096 , info@nasmeoyo.org</p>
                    <p style="font-size: .8rem;">Meeting Day: Last Thursday of Every Month</p>
                    <p style="font-size: .8rem;">Time: 2pm Prompt</p>
                    <p style="font-size: .8rem;">Cooperative Meeting : 1pm (Same Day)</p>
                </div>
            </div>
        </div>
    </footer>



    <script>
        // Navbar Search Toggler
        let searchInput = document.getElementById('search')
        let btnSearch = document.getElementById('btn-search')
        let navBrand = document.getElementById('navBrand')

        btnSearch.addEventListener('click', (e) => {
            e.preventDefault()
            searchInput.classList.toggle('active')
            navBrand.classList.toggle('none')
        })
        // Navbar Search Toggler Ends


    </script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
</body>

</html>