{% extends "layout.html" %}
{% block content %}
  <h1>Welcome, Enter your Login details below.</h1>
  <form method="POST" action="">
    {{ form.hidden_tag() }}

    <br />
    {{ form.phone.label }}
    {% if form.phone.errors %}
      {{ form.phone }}
      {% for error in form.phone.errors %}
          <span>{{ error }}</span>
      {% endfor %}
    {% else %}
      {{ form.phone }}
    {% endif %}
    
    <br />
    {{ form.password.label }}
    {% if form.password.errors %}
      {{ form.password }}
      {% for error in form.password.errors %}
          <span>{{ error }}</span>
      {% endfor %}
    {% else %}
      {{ form.password }}
    {% endif %}

      <br />
      
      {{ form.remember(type="checkbox") }}
      {{ form.remember.label }}

      <br />
      <small><a href="/reset_password">Forgot Password?</a></small>
      
      <br />
    {{ form.submit }}
  </form> 
{% endblock content %}