{% extends "dashboard_layout.html" %}
{% block content %}	
		<style>
			.hidep{
				display: none;
			}
		</style>


	<div class="main-content">
            
        <div class="dashboard">
            <a href='{{url_for("admins.manage_members")}}' class="rounded myCard">
                <div class="my-3">
                    <i class="bi bi-people-fill fs-4"></i>
                </div>
                <div class="text-center my-2">
                    <p>Total Member(s)</p>
                    <p>{{total_members}}</p>
                </div>
            </a>
            <a href='{{ url_for("admins.paid_dues") }}' class="rounded myCard">
                <div class="my-3">
                    <i class="bi bi-briefcase-fill fs-4"></i>
                </div>
                <div class="text-center my-2">
                    <p>My Wallet</p>
                    <p class="hidep">0</p>
                </div>
            </a>
            <a href='{{url_for("admins.manage_units")}}' class="rounded myCard">
                <div class="my-3">
                    <i class="bi bi-stack fs-4"></i>
                </div>
                <div class="text-center my-2">
                    <p>Total Unit(s)</p>
                    <p>{{total_units}}</p>
                </div>
            </a>
            <a href="{{ url_for('admins.register_unit') }}" class="rounded myCard">
                <div class="my-3">
                    <i class="bi bi-layers-fill fs-4"></i>
                </div>
                <div class="text-center my-2">
                    <p>Add New Unit</p>
                    <p class="hidep">0</p>
                </div>
            </a>
            <a href="{{ url_for('admins.register_member') }}" class="rounded myCard">
                <div class="my-3">
                    <i class="bi bi-person-fill fs-4"></i>
                </div>
                <div class="text-center my-2">
                    <p>Add New Member</p>
                    <p class="hidep">0</p>
                </div>
            </a>
            <a href="#" class="rounded myCard">
                <div class="my-3">
                    <i class="bi bi-cash-coin fs-4"></i>
                </div>
                <div class="text-center my-2">
                    <p>Create Finance</p>
                    <p class="hidep">0</p>
                </div>
            </a>
            <a href="{{url_for('admins.send_unit_message')}}" class="rounded myCard">
                <div class="my-3">
                    <i class="bi bi-chat-left-text-fill fs-4"></i>
                </div>
                <div class="text-center my-2">
                    <p>Send Message</p>
                    <p class="hidep">0</p>
                </div>
            </a>
            <a href="#" class="rounded myCard">
                <div class="my-3">
                    <i class="bi bi-cash fs-4"></i>
                </div>
                <div class="text-center my-2">
                    <p>Financial Report</p>
                    <p class="hidep">0</p>
                </div>
            </a>
            <a href="{{ url_for('admins.edit_admin' , admin_id=current_user.id )}}" class="rounded myCard">
                <div class="my-3">
                    <i class="bi bi-person-circle fs-4"></i>
                </div>
                <div class="text-center my-2">
                    <p>My Profile</p>
                    <p class="hidep">0</p>
                </div>
            </a>
        </div>

    </div>



    
			
{% endblock content %}
