{% extends "dashboard_layout.html" %} {% block content %}
<style>
	#export {
		margin-left: 64%;
	}

	#form {
		width: 360px;
		margin: 20vh auto 0 auto;
		/* height: 50vh; */
		padding: 10px;
		font-size: 12px;
		text-align: center;
		margin-top: 5%;
		font-weight: bold;
		background-color: rgb(191, 215, 178);
		color: rgb(55, 95, 62);
		border-radius: 4px;
		font-size: 12px;
	}

	.rech {
		margin-left: auto;
		margin-right: auto;
	}

	#iners {
		margin-top: -7%;
	}

	.solu {
		font-weight: bold;
		font-size: 15px;
	}
</style>

<!-- tables -->
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/table-style.css')}}" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/basictable.css')}}" />


<script>
	$(function () {
		$('#supported').text('Supported/allowed: ' + !!screenfull.enabled);

		if (!screenfull.enabled) {
			return false;
		}

		$('#toggle').click(function () {
			screenfull.toggle($('#container')[0]);
		});
	});
</script>

<div class="main-content">

	<form method="POST" action="{{url_for('admins.export_custom')}}">
		<br />
		<input type="hidden" name="members" value="{{pending_updates_list.items}}" />
		<button class="btn btn-success text-capitalize" id="export" type="submit">
			Export list
		</button>
	</form>
	<div class="container-fluid agile-tables">
		<br />
		<h3 style="text-align: center; color: rgb(31, 55, 31); font-weight: bold" class="text-center">
			Pending Profiles
		</h3>
		<div class="w3l-table-info table-responsive">
			<table id="tuble" class="table table-success table-striped table-hover table-bordered"
				style="width: 85%; font-size: 14px">
				<thead>
					<tr>
						<th scope="col">Business Name</th>

						<th scope="col">Action</th>
					</tr>
				</thead>
				<tbody>
					{% for member in pending_updates_list.items %}
					<tr>
						<td><b>{{member}}</b> has updated their profile details <td>

						
						<td class="d-flex justify-content-center">

							<a type="button" class="btn btn-primary approveBtn" data-toggle="modal" id="{{member.id}}"
								dataName="{{member.username}}" data-target="#approvemodal" data-bs-toggle="tooltip"
								data-profileid="{{member.id}}" data-bs-placement="top" title="Approve update"><i
									class="fa fa-thumbs-up approveBtn" aria-hidden="true" data-bs-toggle="tooltip"
									data-bs-placement="top" title="Approve update"
									data-profileid="{{member.id}}"></i></a>


							<a type="button"  class="btn btn-warning see-user-detail" dataId="{{member.id}}" dataUserData="{{member.update}}"
								data-toggle="modal"	data-target="#staticBackdrop" onclick="viewUserFunction(this)" data-bs-toggle="tooltip"
								data-bs-placement="top" title="View Details"><i class="fa fa-eye"
									aria-hidden="true" data-bs-toggle="tooltip" data-bs-placement="top"
									title="view Details"></i></a>


							<a type="button" class="disapproveBtn btn btn-danger" style="background: red"
								data-toggle="modal" id="{{member.id}}" dataName="{{member.username}}"
								data-target="#disapprovemodal" data-profileid="{{member.id}}" 
								data-bs-placement="top" title="Disapprove update"><i
									class="fa fa-thumbs-down disapproveBtn" aria-hidden="true" 
									data-bs-placement="top" data-profileid="{{member.id}}"
									title="Disapprove update"></i></a>
						</td>


					</tr>

					{% endfor %}
				</tbody>
			</table>

			<br />

		

			<!--  View Member Modal -->
			<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
				aria-labelledby="staticBackdropLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="staticBackdropLabel">User Details</h5>
							<button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<div class="bedd">
								<div>
									<img id="modalUserImage" src="" alt="image" width="100px" />
								</div>
								<br />
								<br />

							
								<div>
									<h5 id="modalUserName">N/A</h5>
								</div>
								<br />
								
								<div>
									<p id="modalUserEmail">N/A</p>
								</div>
								<br />
								<div>
									<p id="modalUserPhone">N/A</p>
								</div>
								<br />

								<div>
									<p id="modalUserAbout">N/A</p>
								</div>
								<br />
								
								<div>
									<p id="modalUserUnits">N/A</p>
								</div>
								<br />
								<div>
									<p id="modalUserDateReg">N/A</p>
								</div>
								<br />
								<div>
									<p id="modalUserHomeAddr">N/A</p>
								</div>
								<br />

									{#
								<div>
									<img id="modalUserBusImg1" src="" alt="image" width="100px" />
								</div>
								<br />
								<div>
									<img id="modalUserBusImg2" src="" alt="image" width="100px" />
								</div>
								<br />
								<div>
									<img id="modalUserBusImg3" src="" alt="image" width="100px" />
								</div>
								<br />
								<div>
									<img id="modalUserBusImg4" src="" alt="image" width="100px" />
								</div>
								<br />
								<div>
									<img id="modalUserBusImg5" src="" alt="image" width="100px" />
								</div>
								<br />
								<div>
									<img id="modalUserBusImg6" src="" alt="image" width="100px" />
								</div>
								<br />
								
							#}
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">
									Close
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- </div> -->

			<!-- pagination -->
			{% for page_num in pending_updates_list.iter_pages(left_edge=1,
			right_edge=1, left_current=1, right_current=2) %} {% if page_num %} {% if
			pending_updates_list.page == page_num %}
			<a class="btn btn-success mb-5" href="{{ url_for('admins.pending_approvals', page=page_num) }}">{{ page_num
				}}</a>
			{% else %}
			<a class="btn btn-outline-success mb-5" href="{{ url_for('admins.pending_approvals', page=page_num) }}">{{
				page_num
				}}</a>
			{% endif %} {% else %} ... {% endif %} {% endfor %}
		</div>
	</div>

</div>

<script>
	var user_profile_data_id = 0

	var approveBtns = document.querySelectorAll(".approveBtn");

	 for (let btn of approveBtns) {
		btn.addEventListener("click", function (ev) {
			var pid = ev.target.dataset.profileid;
			user_profile_data_id = Number(pid)
			console.log('Cliccked: ', user_profile_data_id)
			document.getElementById('profileupdatehiddenid').value = user_profile_data_id
			console.log('The value of PID is: ', document.getElementById('profileupdatehiddenid').value)
		});
	}

	var disapproveBtns = document.querySelectorAll(".disapproveBtn");

	 for (let btn of disapproveBtns) {
		btn.addEventListener("click", function (ev) {
			var pid = ev.target.dataset.profileid;
			user_profile_data_id = Number(pid)
			document.getElementById('disapproveprofilehiddenid').value = user_profile_data_id
		});
	}




	var form = document.getElementById('approve_profile_update_form')
	form.addEventListener('submit', (e) => {

		var pidfield = document.createElement('input')
		pidfield.type = "hidden"
		pidfield.name = "profile_updateid"
		pidfield.value = user_profile_data_id

		form.appendChild(pidfield)
	})

	var form1 = document.getElementById('disapprove_profile_update_form')
	form1.addEventListener('submit', (e) => {

		var pidfield = document.createElement('input')
		pidfield.type = "hidden"
		pidfield.name = "profile_updateid_disapprove"
		pidfield.value = user_profile_data_id

		form1.appendChild(pidfield)
	})

	
	

	function viewUserFunction(obj) {

		var data = obj.getAttribute("dataUserData")

		var jsondata = JSON.parse(data)
		
		let dataImage = obj.getAttribute("dataImage");
		let dataPassword = obj.getAttribute("dataPassword");
		let dataHomeAddress = obj.getAttribute("dataHomeAddr");

		if (jsondata["business_photo"]){
			document.getElementById("modalUserImage").src = "/static/profile_pics/" + jsondata["business_photo"];
		}
		// document.getElementById("modalUserImage").src = '/static/profile_pics/0b0ae3a76e39742f.jpg';
		if (jsondata["business_name"]){
			document.querySelector("#modalUserName").innerHTML = ("Name:  " + jsondata["business_name"]);
		}
		
		if (jsondata["business_email"]){
			document.querySelector("#modalUserEmail").innerHTML = ("Email:  " + jsondata["business_email"]);
		}
		if (jsondata["selected_units"]){
			document.querySelector("#modalUserUnits").innerHTML = ("Selected Units:  " + jsondata["selected_units"]);
		}
		if (jsondata["business_phone"]){
			document.querySelector("#modalUserPhone").innerHTML = ("Phone:  " + jsondata["business_phone"]);
		}
		if (jsondata["business_about"]){
			document.querySelector("#modalUserAbout").innerHTML = ("About:  " + jsondata["business_about"]);
		}

	}
</script>


{% endblock content %}