
    {% extends 'member_base.html' %}

    {% block content_body %}
    <div class="container">
      <form action="/edit-business-profile" method="POST" id="form" onsubmit="return validationForms"
        enctype="multipart/form-data" class="container-fluid">
        {{form.hidden_tag()}}
        <div class="row justify-content-center py-5 m-1">
          <div class="col-lg-10">
            <h4 class="text-center">UPDATE BUSINESS INFO</h4>
            <div class="row shadow bg-light rounded-3 py-lg-3 px-lg-4 p-3">
              <div class="col-md-6">
                <img id="bus-photo" src="../static/profile_pics/{{ member.business_photo }}"
                  class="rounded-5 shadow-sm w-50" alt="" width="40%">
                <div class="form-control my-4 border-0 form-control-sm bg-transparent">
                  <div class="mb-3">
                    <label class="form-label" for="business_logo">Upload Business Logo</label>
                  
                    {% if form.business_photo.errors %}
                    {{ form.business_photo(type="file", class="form-control", accept=".jpg, .png, .jpeg") }}
                    {% for error in form.business_photo.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                    {% else %}
                    {{ form.business_photo(type="file", class="form-control", accept=".jpg, .png, .jpeg")}}
                    {% endif %}
                  </div>

                  <div class="mb-3">
                    <label for="update_password">Update Password</label>
                    {#
                    <input type="text" maxlength="16" minlength="8" id="update_password" class="form-control">
                    #}


                    {% if form.password.errors %}
                    {{ form.password(required=True, id='update_password', type="password",
                    class='form-control',maxlength="16", minlength="8")}}
                    {% for error in form.password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                    {% else %}
                    {{ form.password(required=True, id='update_password', type='password',
                    class='form-control', maxlength="16", minlength="8")}}
                    {% endif %}
                    <span class="error"></span>
                  </div>
                  <div class="mb-3">
                    <label for="">Select Unit</label>
                 
                    <select name="mymultiselect" class="form-select" multiple>
                      {% for unit in units %}
                      {% if unit in member.units %}
                      <option value="{{unit.name}}" selected class="text-lowercase">{{unit.name}}</option>
                      {% else %}
                      <option value="{{unit.name}}" class="text-lowercase">{{unit.name}}</option>
                      {% endif %}
                      {% endfor %}
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                {#
                <form action="" class="form-control form-control-sm border-0 bg-transparent">
                  #}
                  <div class="mb-3">
                    <label for="business_name">Business Name</label>
                    {% if form.business_name.errors %}
                    {{ form.business_name(required=True, class='form-control', minlength="20", maxlength='40') }}
                    {% for error in form.business_name.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                    {% else %}
                    {{ form.business_name(required=True, class='form-control')}}
                    {% endif %}
                    <span class="error"></span>
                  </div>
                  <div class="mb-4">
                    <label for="business_location" class="form-label">Business Location</label>
                    {% if form.business_address.errors %}
                    {{ form.business_address(required=True, class='form-control', minlength="20", maxlength="40")}}
                    {% for error in form.business_address.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                    {% else %}
                    {{ form.business_address(required=True, class='form-control')}}
                    {% endif %}
                    <span class="error"></span>
                  </div>
                  <div class="mb-3">
                    <label for="" class="form-label">About Your Business</label>
                    {#
                    <textarea class="form-control" id="" rows="5"></textarea>
                    #}

                    {% if form.business_about.errors %}
                    {{ form.business_about(required=True, class='form-control', minlength="400", maxlength="600" ,
                    style='height:
                    150px;')}}
                    {% for error in form.business_about.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                    {% else %}
                    {{ form.business_about(required=True, class='form-control', style='height: 150px;')}}
                    {% endif %}
                    <span class="error"></span>
                  </div>
                  <div class="mb-3">
                    <label for="" class="form-label">Services Rendered</label>
                    {#
                    <textarea class="form-control" id="" rows="5"></textarea>
                    #}
                    <caption>
                      <span class="text-danger">*</span>Use comma (,) to separate the list of services
                    </caption>
                    {% if form.business_services.errors %}
                    {{ form.business_services(required=True, class='form-control', style='height: 150px;')}}
                    {% for error in form.business_services.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                    {% else %}
                    {{ form.business_services(required=True, class='form-control', style='height: 150px;')}}
                    {% endif %}
                    <span class="error"></span>
                  </div>
                 
                  
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center py-5 m-1">
          <div class="col-lg-10">
            <h4 class="text-center">UPDATE PRODUCTS & SERVICE IMAGES</h4>
            <div
              class="shadow bg-light rounded-3 py-lg-3 px-lg-4 p-3 row row-cols-lg-4 row-cols-md-3 row-cols-2 justify-content-around">
              <div class="col-md text-center p-3 d-flex flex-column">
                <img src="/static/profile_pics/{{member.business_product_image_1}}" class="rounded-5" alt="">
                {{form.business_product_image_1.label(class="form-label text-muted", for="business_product_image_1")}}
                {% if form.business_product_image_1.errors %}
                {{ form.business_product_image_1(class="form-control form-control-sm", id='business_product_image_1',
                accept=".jpg, .png, .jpeg") }}
                {% for error in form.business_product_image_1.errors %}
                <span>{{ error }}</span>
                {% endfor %}
                {% else %}
                {{ form.business_product_image_1(class="form-controll form-control-sm", id='business_product_image_1',
                accept=".jpg, .png, .jpeg")}}
                {% endif %}
              </div>
              <div class="col-md text-center p-3 d-flex flex-column">
                <img src="/static/profile_pics/{{member.business_product_image_2}}" class="rounded-5" alt="">
                {{form.business_product_image_2.label(class="form-label text-muted", for="business_product_image_2")}}
                {% if form.business_product_image_2.errors %}
                {{ form.business_product_image_2(class="form-control form-control-sm", id='business_product_image_2',
                accept=".jpg, .png, .jpeg") }}
                {% for error in form.business_product_image_2.errors %}
                <span>{{ error }}</span>
                {% endfor %}
                {% else %}
                {{ form.business_product_image_2(class="form-controll form-control-sm", id='business_product_image_2',
                accept=".jpg, .png, .jpeg")}}
                {% endif %}
              </div>
              <div class="col-md text-center p-3 d-flex flex-column">
                <img src="/static/profile_pics/{{member.business_product_image_3}}" class="rounded-5" alt="">
                {{form.business_product_image_3.label(class="form-label text-muted", for="business_product_image_3")}}
                {% if form.business_product_image_3.errors %}
                {{ form.business_product_image_3(class="form-control form-control-sm", id='business_product_image_3',
                accept=".jpg, .png, .jpeg") }}
                {% for error in form.business_product_image_3.errors %}
                <span>{{ error }}</span>
                {% endfor %}
                {% else %}
                {{ form.business_product_image_3(class="form-controll form-control-sm", id='business_product_image_3',
                accept=".jpg, .png, .jpeg")}}
                {% endif %}
              </div>
              <div class="col-md text-center p-3 d-flex flex-column">
                {#
                <img src="/static/profile_pics/default.jpg" alt="" class=" rounded-5">
                <label class="form-label text-muted">Display Image</label>
                <input type="file" name="" id="" class="form-control form-control-sm"
                  class="form-control form-control-sm">
                #}
                <img src="/static/profile_pics/{{member.business_product_image_4}}" class="rounded-5" alt="">
                {{form.business_product_image_4.label(class="form-label text-muted", for="business_product_image_4")}}
                {% if form.business_product_image_4.errors %}
                {{ form.business_product_image_4(class="form-control form-control-sm", id='business_product_image_4',
                accept=".jpg, .png, .jpeg") }}
                {% for error in form.business_product_image_4.errors %}
                <span>{{ error }}</span>
                {% endfor %}
                {% else %}
                {{ form.business_product_image_4(class="form-controll form-control-sm", id='business_product_image_4',
                accept=".jpg, .png, .jpeg")}}
                {% endif %}
              </div>
              <div class="col-md text-center p-3 d-flex flex-column">
                <img src="/static/profile_pics/{{member.business_product_image_5}}" class="rounded-5" alt="">
                {{form.business_product_image_5.label(class="form-label text-muted", for="business_product_image_5")}}
                {% if form.business_product_image_5.errors %}
                {{ form.business_product_image_5(class="form-control form-control-sm", id='business_product_image_5',
                accept=".jpg, .png, .jpeg") }}
                {% for error in form.business_product_image_5.errors %}
                <span>{{ error }}</span>
                {% endfor %}
                {% else %}
                {{ form.business_product_image_5(class="form-controll form-control-sm", id='business_product_image_5',
                accept=".jpg, .png, .jpeg")}}
                {% endif %}
              </div>
              <div class="col-md text-center p-3 d-flex flex-column">
                <img src="/static/profile_pics/{{member.business_product_image_6}}" class="rounded-5" alt="">
                {{form.business_product_image_6.label(class="form-label text-muted", for="business_product_image_6")}}
                {% if form.business_product_image_6.errors %}
                {{ form.business_product_image_6(class="form-control form-control-sm", id='business_product_image_6',
                accept=".jpg, .png, .jpeg") }}
                {% for error in form.business_product_image_6.errors %}
                <span>{{ error }}</span>
                {% endfor %}
                {% else %}
                {{ form.business_product_image_6(class="form-control form-control-sm", id='business_product_image_6',
                accept=".jpg, .png, .jpeg")}}
                {% endif %}
              </div>
              <div class="col-md text-center p-3 d-flex flex-column">
                <img src="/static/profile_pics/{{member.business_product_image_1}}" class="rounded-5" alt="">
                {{form.business_product_image_1.label(class="form-label text-muted", for="business_product_image_7")}}
                {% if form.business_product_image_1.errors %}
                {{ form.business_product_image_1(class="form-control form-control-sm", id='business_product_image_7',
                accept=".jpg, .png, .jpeg") }}
                {% for error in form.business_product_image_1.errors %}
                <span>{{ error }}</span>
                {% endfor %}
                {% else %}
                {{ form.business_product_image_1(class="form-control form-control-sm", id='business_product_image_7',
                accept=".jpg, .png, .jpeg")}}
                {% endif %}
              </div>
              <div class="col-md text-center p-3 d-flex flex-column">
                <img src="/static/profile_pics/{{member.business_product_image_4}}" class="rounded-5" alt="">
                {{form.business_product_image_1.label(class="form-label text-muted", for="business_product_image_8")}}
                {% if form.business_product_image_1.errors %}
                {{ form.business_product_image_1(class="form-control form-control-sm", id='business_product_image_8',
                accept=".jpg, .png, .jpeg") }}
                {% for error in form.business_product_image_1.errors %}
                <span>{{ error }}</span>
                {% endfor %}
                {% else %}
                {{ form.business_product_image_1(class="form-controll form-control-sm", id='business_product_image_8',
                accept=".jpg, .png, .jpeg")}}
                {% endif %}
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center py-5 m-1">
          <div class="col-lg-10">
            <h4 class="text-center">UPDATE LINKS & CONTACT INFORMATION</h4>
            <div class="shadow bg-light rounded-3 py-lg-3 px-lg-4 row p-3">
              {#
              <form class="row g-3 form-control form-control-sm d-flex bg-transparent border-0">
                #}
                <div class="col-md-4">
                  <label for="" class="form-label">Business Phone Number</label>
                  <div class="input-group mb-3">
                    <i class="bi bi-telephone-fill input-group-text"></i>
                   
                    {{form.business_phone(required=True, class='form-control', type="number", id="bus-phone")}}
                    <span class="error"></span>
                  </div>
                </div>


                <div class="col-md-4">
                  <label for="" class="form-label">Business E-mail</label>
                  <div class="input-group mb-3">
                    <i class="bi bi-envelope-fill input-group-text"></i>
                    
                    {% if form.business_email.errors %}
                    {{ form.business_email(class='form-control', type="email")}}
                    {% for error in form.business_email.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                    {% else %}
                    {{ form.business_email(class='form-control', type='email')}}
                    {% endif %}
                  </div>
                </div>


                <div class="col-md-4">
                  <label for="" class="form-label">Business Website Url</label>
                  <div class="input-group mb-3">
                    <i class="bi bi-globe input-group-text"></i>
                   
                    {% if form.business_website.errors %}
                    {{ form.business_website(class='form-control', type="url")}}
                    {% for error in form.business_website.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                    {% else %}
                    {{ form.business_website(class='form-control', type="url")}}
                    {% endif %}
                  </div>
                </div>
                <div class="col-md-4">
                  <label for="" class="form-label">Facebook</label>
                  <div class="input-group mb-3">
                    <i class="bi bi-facebook input-group-text"></i>
                    
                    {% if form.business_facebook.errors %}
                    {{ form.business_facebook(class='form-control',type="url")}}
                    {% for error in form.business_facebook.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                    {% else %}
                    {{ form.business_facebook(class='form-control',type="url")}}
                    {% endif %}
                  </div>
                </div>
                <div class="col-md-4">
                  <label for="" class="form-label">LinkedIn</label>
                  <div class="input-group mb-3">
                    <i class="bi bi-linkedin input-group-text"></i>
                    {#
                    <input type="text" class="form-control">
                    #}

                    {% if form.business_linkedin.errors %}
                    {{ form.business_linkedin(class='form-control',type="url")}}
                    {% for error in form.business_linkedin.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                    {% else %}
                    {{ form.business_linkedin(class='form-control',type="url")}}
                    {% endif %}
                  </div>
                </div>
                <div class="col-md-4">
                  <label for="" class="form-label">Twitter</label>
                  <div class="input-group mb-3">
                    <i class="bi bi-twitter input-group-text"></i>
                    {#
                    <input type="text" class="form-control">
                    #}

                    {% if form.business_twitter.errors %}
                    {{ form.business_twitter(class='form-control', type="url")}}
                    {% for error in form.business_twitter.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                    {% else %}
                    {{ form.business_twitter(class='form-control', type="url")}}
                    {% endif %}
                  </div>
                </div>
                <div class="col-md-4">
                  <label for="" class="form-label">Whatsapp</label>
                  <div class="input-group mb-3">
                    <i class="bi bi-whatsapp input-group-text"></i>
                    {#
                    <input type="text" class="form-control">
                    #}


                    {% if form.business_whatsapp.errors %}
                    {{ form.business_whatsapp(class='form-control', type="number")}}
                    {% for error in form.business_whatsapp.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                    {% else %}
                    {{ form.business_linkedin(class='form-control', type="number")}}
                    {% endif %}
                  </div>
                </div>
              
                
            </div>
          </div>
        </div>
        <div class="row justify-content-center pb-5">
          <div class="col-lg-10">
            <div class="row justify-content-end">
              <div class="col-auto">
                {{form.submit(class="btn shadow rounded-3 px-5 p-3 btn-success text-uppercase text-center m-0",
                type="submit")}}
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    {% endblock content_body %}
